<div class="body">

    <header>
        <app-nav></app-nav>
    </header>

    
    <main>

        <ul class="ul">
            <li class="li">Veg
                <ul>
                    <li>Dosa</li>
                    <li>Pongal</li>
                    <li>Vadai</li>
                    <li>Idly</li>
                    <li>Poori</li>
                    <li>Parotta</li>
                    <li>Masala Dosai</li>
                </ul>
            </li>
        </ul>

        <ul class="ul">
            <li class="li">Non Veg
                <ul>
                    <li>Parotta</li>
                    <li>Chicken Biriyani</li>
                    <li>Mutton Biriyani</li>
                    <li>Fish Biriyani</li>
                    <li>Tandoori</li>
                    <li>Chicken 65</li>
                    <li>Mutton Kola</li>
                </ul>
            </li>
        </ul>

        <ul class="ul">
            <li class="li">Beverages
                <ul>
                    <li>Hot Choclate</li>
                    <li>Coffee</li>
                    <li>Lemeonade</li>
                    <li>Iced Tea</li>
                    <li>Milkshake</li>
                    <li>Soda</li>
                    <li>Milk</li>
                </ul>
            </li>
        </ul>

        
    </main>


    <footer>
    <hr class="footer-hr">
    
        
        <h3 class="footer">
            This App is developed by <strong>Sai Kutthalingam S</strong>
        </h3>
            
    
    <hr class="footer-hr">
    </footer>

    
</div>

