.body{
    background-color: #F2F9FF;
}

.display-4{
    color: #16325B;
    margin-left:5px
}

.nvtitle{
    margin: 10px 5px;
}

.veg,.nonveg{
    display: flex;
    justify-content: center;
}

.card{
    width: 200px;
    height: 200px;
    margin: 10px 10px;
}

.card-body{
    padding: 10px;
}

a{
    text-decoration: none;
    margin-left: 450px;
}

footer{
    position: relative;
    bottom:-20px;
}

.footer{
    color: #7AB2D3;
    float: right;
    padding: 15px;
}

.footer-hr{
    width: 100%;
}