<div class="body">

    <header>
        <app-nav></app-nav>
    </header>

    <main>
        <h3 class="display-4">Veg Foods</h3>
        <article class="veg">
            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/idly.jpg.crdownload" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>

            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/pongal.jpg" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>

    
            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/dosa.jpeg" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>
        </article>
        <a href="/veg">Know More....</a>

        <h3 class="display-4 nvtitle">Non Veg Foods</h3>
        <article class="nonveg">
            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/chickenbiriyani.jpg.crdownload" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>

            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/mutton biriyani.jpg" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>

    
            <section>
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/images/fish biriyani.webp" width="180px" height="180px">
                    </div>
                    
                </div>
            </section>
        </article>
        <a href="/nonveg">Know More....</a>
        

        
    </main>

    <footer>

        <hr class="footer-hr">
        
            <h3 class="footer">
                This App is developed by <strong>Sai Kutthalingam S</strong>
            </h3>
            
        <hr class="footer-hr">

    </footer>

</div>

