<div>
    <header class="header">
        <img src="../../../assets/images/foodLogo.jpg" alt="Chicken 65">

        <h1 class="display-1">Taste It</h1>
    </header>
    <hr>

    <nav class="nav">
        <button type="button" routerLink="/" class="btn btn-outline-primary me-5">Home</button>
        <button type="button" routerLink="/about" class="btn btn-outline-primary me-5">About</button>
            <div class="dropdown">
                <button routerLink="/products" class="btn btn-outline-primary dropdown-toggle me-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </button>
                <ul class="dropdown-menu">
                    <button type="button" routerLink="/veg" class="btn btn-outline-primary mb-2 nb1">
                        Veg
                    </button>
                    <button type="button" routerLink="/nonveg" class="btn btn-outline-primary mb-2 nb2">
                        Non Veg
                    </button>
                 
                </ul>
              </div>
        <button type="button" routerLink="/contact" class="btn btn-outline-primary me-5">Contact</button>
    </nav>

    <hr>
</div>

